body,html{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

nav{
    width: 100%;
    background:#5f6975 ;
}

nav ul{
    list-style:none;
    margin:0;
    padding: 0;
    white-space: nowrap; 

}

nav a{
    margin: 0;
    text-align: left;
    padding: 12px 15px 12px 15px;
    background: #5f6975;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
}

 nav .mainmenu>li{
    display: inline-block;
    margin-left: -5px;
}

nav .mainmenu li:hover>a{
    background:#2f95c8;
    cursor:pointer;
}

nav .submenu,nav .supermenu ,nav .supersubmenu{
    position: absolute;
    display: none;
}

nav .submenu li{
    position: relative;
    border-top: 1px solid #575f6a;
    border-bottom: 1px solid #6b727c;
}
nav .supermenu,nav .supersubmenu{
    top: 0;
    right: 0;
    transform: translate(100%,0);
}

nav .mainmenu>li:hover .submenu,nav .submenu>li:hover>.supermenu,nav .supermenu>li:hover>.supersubmenu{
    display: block;
}

nav .arrow{
    display: inline-block;
    border: 2px solid white;
    width: 8px;
    height: 8px;
    border-left: none;
    border-bottom: none;
    position: relative;
    right: 0;
    margin-left: 10px;
}

nav .arrow.arrowdown{
    transform: rotateZ(135deg) translate(0px,3px);
}

nav .arrow.arrowRight{
    transform: rotateZ(45deg);
}


